header{
    background-color: orange;
    box-shadow: 0px 0px 4px;
    
   
}

.row-header{
    justify-content: space-between;
}

.col-4{
    width: calc(100% / 2 - 120px);
    padding: 30px;
}



.link-header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    max-width: 100px;
}

.icon-header{
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

}

.icon-header li img{
    max-width: 25px;
}

